@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.header ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 44px;
}
.header ul li a{
    text-decoration: none;
    color: rgb(231, 56, 56);
    font-size: 18px;
    font-weight: 700;
}
.header ul li a:hover{
    border-bottom: solid 1px white;
}
.header img{
    height: 80px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 91px;
    padding-right: 91px;
    background-color: rgb(8, 8, 8);
}
.autor1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 95px;
    background: #000000;
    background: linear-gradient(120deg,rgba(0, 0, 0, 1) 0%, rgba(41, 41, 41, 1) 79%);
    height: 866px;
    padding-top: 22px;
}
.autor1 h1{
    font-size: 60px;
    color: #ffffff;
    text-decoration: underline;
}
.autor-opis img{
    height: 440px;
    border-radius: 14px;
    border: solid 3px rgb(255, 0, 0);
}
.autor-opis p{
    width: 410px;
    font-size: 19px;
    font-weight: 400;
}
.autor-opis{
    display: flex;
    gap: 44px;
    align-items: center;
}
.opis{
    color: #ffffff;
    border: solid 2px rgb(255, 0, 0);
    padding: 19px 19px;
    border-radius: 14px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opis h3{
    padding-top: 12px;
}
.footer img{
    height: 140px;
}
.footer{
    background-color: rgb(48, 46, 46);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 12px;
}
.footer h2{
    color: rgb(255, 0, 0);
    padding-top: 12px;
}
.footer h3{
    color: #ffffff;
}
.logo1{
    display: flex;
    align-items: center;
}
.footer ul{
    list-style-type: none;
    padding-top: 15px;
}
.footer ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.footer ul li a:hover{
    color: red;
}
.kontakt h3{
    padding-top: 15px;
}
.copyright{
    display: flex;
    justify-content: center;
    background-color: rgb(48, 46, 46);
    color: #ffffff;
    padding: 9px;
}
.copyright h3{
    font-size: 14px;
}
.mreze ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 33px;
}
.mreze ul li a{
    font-size: 23px;
}
.kontaktiranje{
    display: flex;
}
.porucite h3{
    display: flex;
    justify-content: center;
    font-size: 19px;
    font-weight: 600;
}
.porucite h2{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
}

.kontaktiranje{
    display: flex;
    padding-top: 74px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 93px;
}
.info{
    display: block;
    border: solid 2px #000000;
    padding: 19px;
    border-radius: 16px;
}
.prijava{
    display: block;
}
.porudžbina{
    width: 100%;
    padding: 44px;
}
.mapa{
    width: 811px;
    height: 590px;
    border-radius: 16px;
}
.porucite{
    padding-top: 50px;
    background-color: #c7c3c3;
}
.info input{
    font-size: 20px;
    padding: 9px;
}
.prijava1{
    padding-bottom: 10px;
}
.info h3{
    padding-bottom: 20px;
    padding-top: 34px;
    background-color: red;
    width: 200px;
}



.galerija img{
    height: 320px;
}
.galerija{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whey img{
    height: 320px;
}








